{
   "openapi": "3.0.1",
   "info": {
     "title": "IBM Cloud Code Engine",
     "description": "The purpose is to provide an API to get Kubeconfig for IBM Cloud Code Engine Project",
     "version": "0.0"
   },
   "servers": [
     {
       "url": "https://api.us-south.codeengine.cloud.ibm.com/api/v1"
     }
   ],
   "paths": {
     "/namespaces/{id}/config": {
       "get": {
         "tags": [
           "get kubeconfig"
         ],
         "summary": "Retrieve KUBECONFIG for a specified project.",
         "description": "Returns the KUBECONFIG, similar to the output of `kubectl config view --minify=true`.",
         "operationId": "list_kubeconfig",
         "security": [
           {
             "authorizationHeader": []
           }
         ],
         "parameters": [
           {
             "name": "Refresh-Token",
             "in": "header",
             "description": "The IAM Refresh token associated with the IBM Cloud account",
             "required": true,
             "schema": {
               "type": "string"
             }
           },
           {
             "name": "id",
             "in": "path",
             "description": "The id of the IBM Cloud Code Engine project",
             "required": true,
             "schema": {
               "type": "string"
             }
           }
         ],
         "responses": {
           "200": {
             "description": "Success. If request.Content-Type was `application/json` will return `application/json` else `text/html`",
             "content": {
               "application/json": {},
               "text/html": {
                 "schema": {
                   "type": "string"
                 }
               }
             }
           },
           "400": {
             "description": "Bad request",
             "headers": {
               "X-Request-Id": {
                 "description": "Unique ID for this request",
                 "schema": {
                   "type": "string"
                 }
               }
             },
             "content": {
               "application/json": {
                 "schema": {
                   "$ref": "#/components/schemas/MessagePayload"
                 }
               }
             }
           },
           "401": {
             "description": "Unauthorized",
             "headers": {
               "X-Request-Id": {
                 "description": "Unique ID for this request",
                 "schema": {
                   "type": "string"
                 }
               }
             },
             "content": {
               "application/json": {
                 "schema": {
                   "$ref": "#/components/schemas/MessagePayload"
                 }
               }
             }
           },
           "403": {
             "description": "Unauthorized access",
             "headers": {
               "X-Request-Id": {
                 "description": "Unique ID for this request",
                 "schema": {
                   "type": "string"
                 }
               }
             },
             "content": {
               "application/json": {
                 "schema": {
                   "$ref": "#/components/schemas/MessagePayload"
                 }
               }
             }
           },
           "500": {
             "description": "Internal Server Error",
             "headers": {
               "X-Request-Id": {
                 "description": "Unique ID for this request",
                 "schema": {
                   "type": "string"
                 }
               }
             },
             "content": {
               "application/json": {
                 "schema": {
                   "$ref": "#/components/schemas/MessagePayload"
                 }
               }
             }
           }
         }
       }
     }
   },
   "components": {
     "securitySchemes": {
       "authorizationHeader": {
         "type": "http",
         "scheme": "bearer",
         "bearerFormat": "JWT"
       }
     },
     "schemas": {
       "MessagePayload": {
         "required": [
           "message",
           "messageid",
           "statuscode",
           "timestamp",
           "x-request-id"
         ],
         "type": "object",
         "properties": {
           "message": {
             "type": "string",
             "x-go-name": "Message",
             "description": "message returned with the status code"
           },
           "messageid": {
             "type": "string",
             "x-go-name": "MessageID",
             "description": "Unique identifier for the message"
           },
           "statuscode": {
             "type": "integer",
             "format": "int64",
             "x-go-name": "StatusCode",
             "description": "status code associated with the API response"
           },
           "timestamp": {
             "type": "string",
             "format": "date-time",
             "x-go-name": "TimeStamp",
             "description": "Time of the message generation"
           },
           "x-request-id": {
             "type": "string",
             "x-go-name": "RequestID"
           }
         },
         "description": "MessagePayload -",
         "x-go-package": "github.ibm.com/coligo/api-server/lib"
       }
     }
   }
 }