name: Unit and Integration Test

on:
  pull_request:
    branches:
    - main
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  unit-and-integration-test:
    runs-on: ibm-x86-64-medium
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: semeru
          cache: 'maven'
      - name: Install Maven
        run: | 
          sudo apt-get install software-properties-common -y
          sudo apt-add-repository universe -y
          sudo apt-get update -y
          sudo apt-get install maven -y
      - name: Run Unit Tests
        run: mvn verify -fae -DskipITs $MVN_ARGS
        env:
         MVN_ARGS: --settings build/.travis.settings.xml
      - name: Get latest domain mapping certs from api
        uses: actions/checkout@v4
        with:
          repository: 'coligo/api'
          ref: 'main'
          path: 'uxapi'
          token: ${{ secrets.DEVOPS_GITHUB_TOKEN }}
      - name: Run Integration Tests
        env:
          CE_API_HOST: ${{ vars.CE_API_HOST }}
          CE_API_KEY: ${{ secrets.CE_TEST_API_KEY }}
          COS_ACCESS_KEY_ID: ${{ secrets.COS_ACCESS_KEY_ID }}
          COS_SECRET_ACCESS_KEY: ${{ secrets.COS_SECRET_ACCESS_KEY }}
          IAM_ENDPOINT: ${{ vars.IAM_ENDPOINT }}
        run: |
          # create an .env file that is pulled in while executing the v2 integration tests
          echo "CODE_ENGINE_URL=https://$CE_API_HOST/v2" > code_engine_v2.env
          echo "CODE_ENGINE_AUTH_TYPE=iam" >> code_engine_v2.env
          echo "CODE_ENGINE_APIKEY=$CE_API_KEY" >> code_engine_v2.env
          echo "CODE_ENGINE_AUTH_URL=$IAM_ENDPOINT" >> code_engine_v2.env
          echo "CODE_ENGINE_DOMAIN_MAPPING_NAME=api-unit-test-tls.e2e-board.info" >> code_engine_v2.env
          echo "COS_ACCESS_KEY_ID=$COS_ACCESS_KEY_ID" >> code_engine_v2.env
          echo "COS_SECRET_ACCESS_KEY= $COS_SECRET_ACCESS_KEY" >> code_engine_v2.env
          ./scripts/get-dependencies.sh # get api repo for access to latest domain mapping cert
          # execute all tests including the integration tests
          mvn verify -fae $MVN_ARGS